* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both; }

.mainWidth {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  position: relative; }

.front {
  background-image: url("../images/background_photo.jpg");
  background-size: 100% auto;
  padding-bottom: 28.5%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  color: white;
  position: relative; }

.strap {
  height: 50px;
  width: 100%;
  z-index: 500;
  position: absolute;
  padding-top: 8px; }

.shadow {
  background-color: black;
  opacity: 0.4; }

.col-4 img {
  position: relative;
  z-index: 999; }

.myOwnButtons {
  border-radius: 100px;
  border: 2px solid white;
  width: 150px;
  opacity: 0.2;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  float: right; }
  .myOwnButtons span {
    color: white; }

.foto {
  width: 20%; }

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 50px;
  padding-top: 3%;
  padding-left: 26%; }
  .title span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }

.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .grid-container .row:after,
  .grid-container .row:before {
    display: table;
    clear: both;
    content: ''; }
  .grid-container [class*='col-'] {
    float: left;
    min-height: 1px; }
  .grid-container .col-1 {
    width: 8.33333%; }
  .grid-container .col-2 {
    width: 16.66667%; }
  .grid-container .col-3 {
    width: 25%; }
  .grid-container .col-4 {
    width: 33.33333%; }
  .grid-container .col-5 {
    width: 41.66667%; }
  .grid-container .col-6 {
    width: 50%; }
  .grid-container .col-7 {
    width: 58.33333%; }
  .grid-container .col-8 {
    width: 66.66667%; }
  .grid-container .col-9 {
    width: 75%; }
  .grid-container .col-10 {
    width: 83.33333%; }
  .grid-container .col-11 {
    width: 91.66667%; }
  .grid-container .col-12 {
    width: 100%; }

@media (max-width: 500px) and (orientation: portrait) {
  .grid-container [class*="col-"] {
    float: none;
    width: auto; } }
.box {
  padding-top: 10%;
  padding-left: 10%; }

.support {
  background-color: #f0f2f5;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }
  .support p {
    font-size: 30px;
    color: #565656;
    font-weight: 600;
    padding-top: 6%;
    padding-left: 21%;
    padding-bottom: 6%; }

.increasedContainer {
  width: 90%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white; }
  .increasedContainer .insider {
    border: 2px solid #4daf7b;
    border-radius: 10px;
    margin: 3% 3% 4% 5%;
    width: 90%;
    height: 176px; }

.greenPanel {
  float: left;
  background-color: #4daf7b;
  margin-right: 30%;
  height: 174px;
  width: 15%;
  border-radius: 10px 0 0 10px; }
  .greenPanel span img {
    margin-top: 84%;
    margin-left: 35%;
    width: 30%; }

.rightPanel {
  float: right;
  background-color: #ffffff; }

.increaseSupportBtn {
  margin-left: 38%;
  margin-bottom: 5%; }

.increasingBtn {
  border: 2px solid #d0d1d4;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 1% 4% 1% 4%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: black; }

.consultant {
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif; }
  .consultant img {
    position: relative;
    z-index: 400;
    border-radius: 100px;
    top: -41px;
    left: 37%; }

.author {
  padding-left: 31%;
  margin-top: -11%;
  padding-bottom: 12%; }
  .author h1 {
    font-size: 20px;
    padding-top: 1%; }
  .author h2 {
    padding-top: 3%;
    padding-bottom: 10%;
    text-transform: uppercase;
    font-size: 13px;
    color: #b4b4b4;
    padding-left: 14px; }

.draftButton {
  text-transform: uppercase;
  border-radius: 100px;
  padding: 1.5% 10% 1.5% 12%;
  font-size: 15px;
  background-color: #4daf7b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-left: -20px; }

.partners {
  margin-top: 120px;
  text-align: center;
  width: 90%; }
  .partners h1 {
    font-size: 30px;
    font-weight: 600;
    color: #565656;
    margin-bottom: 2%; }
  .partners h2 {
    font-size: 15px;
    font-weight: 500;
    color: #565656;
    margin-bottom: 1%; }
  .partners a {
    font-size: 15px;
    font-weight: 500;
    color: #90c7aa;
    text-decoration: none; }

.partnerTemplate {
  margin-top: 3%;
  width: 90%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white; }
  .partnerTemplate .insider {
    border: 2px solid #4daf7b;
    border-radius: 10px;
    margin: 3% 3% 4% 5%;
    width: 90%;
    height: 176px; }

.icons {
  color: #545454;
  font-family: 'Open Sans', sans-serif; }
  .icons img {
    margin-left: 18%;
    margin-top: 12%;
    width: 65%; }
  .icons h1 {
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
    font-weight: 600; }
  .icons h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 1%;
    color: #919292; }

.bottom {
  margin-left: 270px;
  margin-bottom: 5%;
  margin-top: 10%; }

.flat {
  padding: 1.5% 6% 1.5% 6%;
  margin-top: 5%; }

/*# sourceMappingURL=style.css.map */
